@font-face{
    font-family: 'vera';
    font-style: normal;
    src: url("ttf-bitstream-vera-1.10/veraMoNo.ttf") format("truetype");
}

body{
    background-color: #34495E;
    font-family: vera; 
}
  
#main{
    height: 600px;
    width: 800px;
    background-color: #34495E;
    font-family: vera;     
}

 #essentials{
    width: 80px;
    height: 600px;  
    padding: 10px;
    background-color: #212F3C;
}

#graphContainer{
     width: 520px; 
     height: 600px;  
     background-color: #AAB7B8;
     padding: 10px;
} 

#graphProperties{
    width: 200px;
    height: 600px;
    background-color: #ECF0F1;
    padding: 1px 0px 10px 0px;
}

div.icons{
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}

i.icons{
    color: #D0D3D4;
    font-size: 23pt;
    cursor: pointer;
}

i.icons:hover{
    color: white;
}

.header{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ECF0F1, #909497); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ECF0F1, #909497); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ECF0F1, #909497); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ECF0F1, #909497); /* Standard syntax */

    border-width: 1px;
    box-shadow: 0 0 5 red;
    border-radius: 5px;
    padding: 10px;
}

ul{
    list-style: none;
    border-bottom-width: 2px;
    border-color: black;
    
}

ul li{
    border-bottom-width: 2px;
    border-color: black;
}